* {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body{
   background-color: transparent; 
   margin: 0px;
}
.train-wrapper {
	margin: 0px 1em 0 1em;
}
.train-wrapper p {
	font-size: 13.5px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.5px;
	line-height: 1em;
}
h4 {
	font-size: .9em;
	font-weight: 700;
	margin: auto;
	color: #fff;
	letter-spacing: 0.5px;
	line-height: 1em;
}



.notrain {
	display: none;
}

.center {
	text-align: left;
}
.inline {
	display: inline;
}