* {
	font:16px -apple-system-font,".Helvetica NeueUI","Helvetica Neue",sans-serif;
	font-weight: normal;
	color: #fff
}

body {
  margin: 30px 0 35px;
  background-color: #202020;
}
.img {
	max-width: 100%;
}

body>p,h2,header .date,p[class="footer"] {
  margin:15px;
  font-size:14px;
  font-weight:400
}


h2,header .date {
  text-transform:uppercase;
  font-weight: bolder;
  margin-bottom: 7px
}

hr {
  border:0;
  border-top: 1px dotted #999999
}

.donate {
	color: #E5B042;
	font-weight: bolder;
}


body>header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:44px;
  z-index:10;
  background:#202020;
  border-bottom: 1px solid #999999
}

body>header h1 {
  margin:0;
  text-align:center;
  font-size:23px;
  line-height:44px;
  font-weight:bolder;
}

ul {
  margin:5px 0 35px;
  padding:0;
  list-style:none;
  background:#292929
}
ul:after,ul:before {
  content:"";
  display:block;
  height:1px;
  background:#999999
}
@media (min-width:708px) {
ul:after,ul:before {
  display:none
}}
ul li {
  border-bottom:1px solid #c8c7cc;
  margin-left:15px;
  padding:13px 15px 13px 0;
  line-height: 1.3em;
}
ul li:last-child {
  border-bottom:0
}

ul .button,ul li [role="link"],ul li p {
  padding:13px 15px;
  margin:-13px -15px
}

ul .button+p,ul li [role="link"]+p,ul li p+p {
  padding-top:0;
  margin-top:0
}
ul .button,ul li [role="link"] {
  display:block;
  color:#007aff;
  padding-right:30px;
  position:relative;
  z-index:2
}
.footer, .footer a {
	text-align: center;
	font-size: 13px !important;
}